/* ProductInfo.css */
.product-info-container {
  margin: 20px;
  text-align: center;
}

.product-info-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-info-container img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 2px #888 solid;
  transition: 500ms ease-in-out;
}

.product-info-container img:hover {
  transform: scale(1.1);
  border: aqua  solid 2px;
}

.accordion {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.accordion-header:hover {
  background-color: #e0e0e0;
}

.accordion-content {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: none;
}

.accordion-content p {
  margin: 0;
}

.accordion.open .accordion-content {
  display: block;
}
